Package: mobi.macciti.iconcontrolpro
Name: IconControl Pro
Version: 1.4
Architecture: iphoneos-arm
Depends: mobilesubstrate, preferenceloader, com.ashman.clockhide, applist
Description: IconControl Pro is especially made for the Haz3 themes from Haze-development.
Maintainer: iC <apt@macciti.com>
Author: iHaz3 & iBitGirl <ihaz3@twitpanic.com>
Section: Tweaks
Depiction: http://www.macciti.com/pages/iconcontrolpro/index.php
