Package: com.p13development.hex
Name: H.E.X.
Version: 1.1
Size: 7503026
Architecture: iphoneos-arm
Homepage: http://apt.appdb.ru/html/hex.htm
Depiction: http://apt.appdb.ru/html/hex.htm
Maintainer: Mikanoshi <punkass@inbox.ru>
Author: p13development <no@email.here>
Sponsor: God <http://www.appdb.ru/>
Icon: file:///Applications/HEX.app/icon_small_fl.png
Description: An exciting, colorful Action-Puzzle Game
Section: Games
